#container {
  display: inline-grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}

.cell{
    display: flex;
    
}
.cell:hover{
    color: blue;
    background-color: blue;
}

#btn{
    margin: 0 auto;
    display: block;
}