#container {
  display: inline-grid;
  
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}



.cell:hover{
    color: blue;
    background-color: blue;
}

#btn{
    display: block;
    margin: 0 auto;
}